.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}
table { 
  border-collapse: collapse; empty-cells: show; 
}
td { 
  position: relative; 
}
tr.strikethrough td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #F76666;
  width: 100%;
}

.help-block{
  color: red;
}
.glyphicon-sort{
  cursor: pointer;
}



/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
